.introduction {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 80px 1.5rem;
}

.introduction > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.introduction-container {
    width: 100%;
    max-width: 768px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-container-title {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;

    margin-bottom: 1.5rem;

    letter-spacing: -3px;
}

.introduction-container-description {
    width: 100%;

    font-size: 1.5rem;
    line-height: 2rem;

    color: hsl(240 5% 64.9%);
}

.introduction-container-intro-span {
    color: rgb(109, 40, 217);
    font-weight: 700;
}

.introduction-container-buttons {
    display: flex;
    gap: 1rem;

    margin-top: 2rem;

    flex-wrap: wrap;
    justify-content: center;
}

.introduction-container-buttons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    padding: 0 32px;

    border-radius: 0.5rem;
    border: 1px solid transparent;

    background-color: rgb(109, 40, 217);

    color: #ffffff;
    text-decoration: none;

    font-size: 0.875rem;
    font-weight: 500;

    transition: background-color 0.16s ease;
}

.introduction-container-buttons a:hover {
    background-color: rgba(109, 40, 217, 0.9);
}

.introduction-container-buttons a:last-child {
    background-color: hsl(240 10% 3.9%);
    border-color: hsl(240 3.7% 15.9%);
}

.introduction-container-buttons a:last-child:hover {
    background-color: rgb(39, 39, 42);
}

.introduction-container-other_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}

.introduction-container-other_buttons a {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;

    background-color: hsl(240 10% 3.9%);

    transition: background-color 0.16s ease;
}

.introduction-container-other_buttons a:hover {
    background-color: rgb(39, 39, 42);
}

.introduction-container-other_buttons a svg {
    width: 16px;
    height: 16px;

    color: #ffffff;
}

@media (max-width: 768px) {
    .introduction-container-title {
        font-size: 2.75rem;
    }

    .introduction-container-description {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .introduction-container-buttons {
        flex-direction: column;
        width: 100%;
    }

    .introduction-container-buttons a {
        width: 100%;
    }
}
